<div class="chat-grid">
  <%= for (chat) in chats { %>
      <%= for (character) in characters { %>
        <%= if (character.ID == chat.CharacterID) { %>
          <div class="chat-card">
            <img src="/<%= character.CharacterAssets[0] %>" alt="<%= character.CharacterName %>" class="chat-img" data-chat-id="<%= chat.ID %>" data-img='<%= toJSON(character.CharacterAssets) %>'>
            <div class="chat-body">
              <div class="chat-header">
                <h4 class="chat-character-name"><%= character.CharacterName %></h4>
                <div class="chat-icons">
                  <span>💬 <%= len(chat.UserMessage) %></span>
                  <span>🤍</span>
                </div>
              </div>
              <p class="chat-preview" style="font-size: 14px;" data-char-name="<%= character.CharacterName %>" data-user-name="<%= user.Name %>" data-chat-id="<%= chat.ID %>">
                <%= if (len(chat.AiMessage) > 0) { %>
                  <%= chat.AiMessage[len(chat.AiMessage) - 1] %>
                <% } else { %>
                  <%= character.FirstMsgCharacter %>
                <% } %>
              </p>
              <div class="chat-buttons">
                <button class="character-info-btn"
                data-chat-id="<%= chat.ID %>"
                data-creator-userid="<%= characterCreator[character.CreatorID] %>"
                data-character-name="<%= character.CharacterName %>"
                data-img='<%= toJSON(character.CharacterAssets) %>'
                data-character-info="<%= character.CharacterInfo %>"
                data-character-oneline-info="<%= character.CharacterOnelineInfo %>"
                data-character-world-view="<%= character.WorldView %>"
                >캐릭터 정보</button>
                <button onclick="location.href='/chat/<%= chat.ID %>'">대화 시작</button>
                <button class="delete-chat" value="<%= chat.ID %>">대화 삭제</button>
              </div>
              <div class="chat-footer">
                <span><%= chat.UpdatedAt.Format("2006-01-02 15:04") %></span>
                <span class="chat-footer-username" data-chat-id="<%= chat.ID %>"><%= user.Name %></span>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    <% } %>
</div>