<div>
    <%= for (chat) in chats { %>
      <%= if (chat.UserID == user.ID) { %>
        <%= for (character) in characters { %>
          <%= if (character.ID == chat.CharacterID) { %>
              <%= form({action: "/chat/"+(chat.ID), method: "GET", class: "chat-form"}) { %>
                <img src="<%= character.CharacterAssets[0] %>" alt="<%= character.CharacterName %>">
                <button type="button" onclick="location.href='/chat/<%= chat.ID %>'"><%= character.CharacterName %></button>
              <% } %>
            <% } %>
          <% } %>
        <% } %>
      <% } %>
</div>