<div class="chat-grid">
  <%= for (chat) in chats { %>
    <%= if (chat.UserID == user.ID) { %>
      <%= for (character) in characters { %>
        <%= if (character.ID == chat.CharacterID) { %>
          <div class="chat-card">
            <img src="/<%= character.CharacterAssets[0] %>" alt="<%= character.CharacterName %>" class="chat-img">
            <div class="chat-body">
              <div class="chat-header">
                <h4><%= character.CharacterName %></h4>
                <div class="chat-icons">
                  <span>💬 <%= len(chat.UserMessage) %></span>
                  <span>🤍</span>
                </div>
              </div>
              <p class="chat-preview">
                <%= character.CharacterOnelineInfo %>
              </p>
              <div class="chat-buttons">
                <button>캐릭터 정보</button>
                <button onclick="location.href='/chat/<%= chat.ID %>'">대화 시작</button>
                <button class="delete-chat" value="<%= chat.ID %>">대화 삭제</button>
              </div>
              <div class="chat-footer">
                <span><%= chat.UpdatedAt.Format("2006-01-02 15:04") %></span>
                <span class="chat-footer-username" data-chat-id="<%= chat.ID %>"><%= user.Name %></span>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    <% } %>
  <% } %>
</div>