$font-ui: Pretendard, "Inter var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


$gray-bg: #2a2b2f;
$gray-input: #3a3b3f;
$gray-border: #555;
$gray-text: #ccc;
$yellow: #facc15;
$yellow-hover: #eab308;