<header id="nav-header">
    <nav id="nav">
        <div class="nav-inner">
            <%= if (login) { %>
              <!-- 로그인 되었을 때 -->
              <%= if (navBarType) { %>
                <%= if (navBarType=="chat") { %>
                  <div class="navbar-div1" data-character-world-view="<%= worldView %>">
                    <div class="navbar-chat-go-back">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"></path></svg>
                    </div>
                    <div class="navbar-div2" data-character-oneline-info="<%= character.CharacterOnelineInfo %>">
                      <button id="nav-character-info-button">
                        <img src="/<%= character.CharacterAssets[0] %>" alt="<%= character.CharacterName %>" class="nav-chat-character-img">
                        <div class="nav-infodiv" data-character-info="<%= characterInfo %>">
                          <div class="navbar-div3">
                            <span><%= character.CharacterName %></span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="navbar-chat-character-name-icon" viewBox="0 0 320 512">
                              <path fill="currentColor" d="M285.5 273.5c4.7-4.7 4.7-12.3 0-17L129.5 100.5c-4.7-4.7-12.3-4.7-17 0s-4.7 12.3 0 17L259 256 112.5 394.5c-4.7 4.7-4.7 12.3 0 17s12.3 4.7 17 0l156-156z"/>
                            </svg>                            
                          </div>
                          <div class="navbar-chat-user-id">
                            <span data-creator-userid="<%= characterCreator.UserID %>">@<%= characterCreator.UserID %></span>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                  
                <% } %>
              <% } else { %>
                <a href="/">Home</a>
                <a href="/chat">대화</a>
                <a href="/create-character">캐릭터 생성</a>
                  <div id="user-avatar-btn">
                    <a href="/"><%= user.UserID %></a>
                    <button id="logout-btn" type="submit">로그아웃</button>
                  </div>
              <% } %>
              <% } else { %>
                <!-- 로그인 안 되었을 때 -->
                <a href="/">Home</a>
                <a href="/login">Log in</a>
                <a href="/signup">Sign Up</a>
              <% } %>
        </div>
    </nav>
</header>