<header id="nav-header">
    <nav id="nav">
        <div class="nav-inner">
            <a href="/">Home</a>
            <%= if (login) { %>
                <!-- 로그인 되었을 때 -->
                <a href="/chat">대화</a>
                <a href="/create-character">캐릭터 생성</a>
                <form id="logout-form" method="POST" action="/logout">
                  <a href="/"><%= user.UserID %></a>
                    <input type="hidden" name="authenticity_token" value="<%= authenticity_token %>">
                    <button type="submit">로그아웃</button>
                  </form>
              <% } else { %>
                <!-- 로그인 안 되었을 때 -->
                <a href="/login">Log in</a>
                <a href="/signup">Sign Up</a>
              <% } %>
        </div>
    </nav>
</header>